Repository M4RIIN/clean-archi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger module 1/4, trigger module 2/4, trigger module 3/4, trigger module 4/4

.gitlab-ci.yml:

stages:
  - trigger-modules

trigger module 1/4:
  stage: trigger-modules
  trigger:
    include: consoleApp/console-app/gitlab-ci.yml
  only:
    changes:
      - consoleApp/console-app/*

trigger module 2/4:
  stage: trigger-modules
  trigger:
    include: consoleApp/manual-config/gitlab-ci.yml
  only:
    changes:
      - consoleApp/manual-config/*

trigger module 3/4:
  stage: trigger-modules
  trigger:
    include: core/domain/gitlab-ci.yml
  only:
    changes:
      - core/domain/*

trigger module 4/4:
  stage: trigger-modules
  trigger:
    include: database/gitlab-ci.yml
  only:
    changes:
      - database/*

test
  .github/workflows/NofirstWorkflow.yml
  assembly.xml
Due: none

cnfig maven fix
  assembly.xml
  consoleApp/console-app/pom.xml
  consoleApp/manual-config/pom.xml
  core/domain/pom.xml
  database/pom.xml
  database/src/main/java/com/lagrange/dao/InMemoryColocation.java
  pom.xml
Due: trigger module 1/4, trigger module 2/4, trigger module 3/4, trigger module 4/4

new githb ci congfig
  .github/workflows/NofirstWorkflow.yml
Due: none

new condif github ci
  .github/workflows/NofirstWorkflow.yml
  core/domain/pom.xml
  core/domain/src/test/java/com/lagrange/entity/UserEntityTest.java
  core/domain/src/test/java/com/lagrange/usecase/CreateUserInteractorTest.java
  core/domain/src/test/java/com/lagrange/usecase/listAllUser/ListAllUserInteractorTest.java
Due: trigger module 3/4

new condif github ci
  .github/workflows/NofirstWorkflow.yml
  pom.xml
Due: none

new condif github ci
  .github/workflows/NofirstWorkflow.yml
  consoleApp/console-app/pom.xml
Due: trigger module 1/4

new condif github ci
  .github/workflows/NofirstWorkflow.yml
Due: none

Change gui
  consoleApp/console-app/src/main/java/com/lagrange/ApplicationConsole.java
Due: none

ajout user to colocation but need to verifiy if user already present
  consoleApp/console-app/src/main/java/com/lagrange/ApplicationConsole.java
  consoleApp/manual-config/src/main/java/com/lagrange/Configuration.java
  core/domain/src/main/java/com/lagrange/entity/Colocation.java
  core/domain/src/main/java/com/lagrange/entity/ColocationEntity.java
  core/domain/src/main/java/com/lagrange/entity/User.java
  core/domain/src/main/java/com/lagrange/entity/UserEntity.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/createColocation/CreateColocationBoundary.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/createColocation/CreateColocationInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/joinColocation/ColocationCredentials.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/joinColocation/ColocationJoinBoundary.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/joinColocation/ColocationJoinInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/listAllColocation/ListAllColocationBoundary.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/listAllColocation/ListAllColocationInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/createColocation/CreateColocationBoundary.java
  core/domain/src/main/java/com/lagrange/usecase/createUser/CreateUserService.java
  core/domain/src/main/java/com/lagrange/usecase/exception/colocation/ColocationNotFoundException.java
  core/domain/src/main/java/com/lagrange/usecase/exception/colocation/UserAlreadyPresentInColocationException.java
  core/domain/src/main/java/com/lagrange/usecase/exception/createUser/UserDontFindException.java
  core/domain/src/main/java/com/lagrange/usecase/listAllColocation/ListAllColocationBoundary.java
  core/domain/src/main/java/com/lagrange/usecase/listAllUser/ListAllUserService.java
  core/domain/src/main/java/com/lagrange/usecase/model/user/User.java
  core/domain/src/main/java/com/lagrange/usecase/model/user/UserDto.java
  core/domain/src/main/java/com/lagrange/usecase/repository/User/UserRepository.java
  core/domain/src/main/java/com/lagrange/usecase/repository/colocation/ColocationRepository.java
  core/domain/src/main/java/com/lagrange/usecase/user/createUser/CreateUserInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/user/createUser/CreateUserService.java
  core/domain/src/main/java/com/lagrange/usecase/user/createUser/UserCredential.java
  core/domain/src/main/java/com/lagrange/usecase/user/listAllUser/ListAllUserInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/user/listAllUser/ListAllUserService.java
  core/domain/src/test/java/com/lagrange/entity/UserEntityTest.java
  core/domain/src/test/java/com/lagrange/entity/UserTest.java
  core/domain/src/test/java/com/lagrange/stub/InMemoryDatabase.java
  core/domain/src/test/java/com/lagrange/stub/InMemoryDatabaseWithUserAlreadyExisting.java
  core/domain/src/test/java/com/lagrange/stub/colocation/InMemoryColocationDbMock.java
  core/domain/src/test/java/com/lagrange/usecase/createUser/CreateUserInteractorTest.java
  core/domain/src/test/java/com/lagrange/usecase/joinColocation/JoinColocationInteractorTest.java
  core/domain/src/test/java/com/lagrange/usecase/listAllUser/ListAllUserInteractorTest.java
  database/src/main/java/com/lagrange/dao/InMemoryUser.java
  database/src/main/java/com/lagrange/model/UserData.java
Due: none

fix archi
  .github/workflows/build-and-package-deploy.yml
  .gitlab-ci.yml
  consoleApp/console-app/gitlab-ci.yml
  consoleApp/console-app/pom.xml
  consoleApp/console-app/src/main/java/com/lagrange/ApplicationConsole.java
  consoleApp/manual-config/gitlab-ci.yml
  consoleApp/manual-config/pom.xml
  consoleApp/manual-config/src/main/java/com/lagrange/Main.java
  core/domain/gitlab-ci.yml
  database/gitlab-ci.yml
Due: trigger module 1/4, trigger module 2/4, trigger module 3/4, trigger module 4/4

thymelaf app
  consoleApp/console-app/src/main/java/com/lagrange/ApplicationConsole.java
  consoleApp/manual-config/src/main/java/com/lagrange/Configuration.java
  consoleApp/manual-config/src/main/java/com/lagrange/Main.java
  core/domain/src/main/java/com/lagrange/entity/User.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/createColocation/CreateColocationInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/createColocation/CreateColocationService.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/joinColocation/ColocationJoinInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/joinColocation/ColocationJoinService.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/listAllColocation/ListAllColocationInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/colocation/listAllColocation/ListAllColocationService.java
  core/domain/src/main/java/com/lagrange/usecase/repository/User/UserRepository.java
  core/domain/src/main/java/com/lagrange/usecase/user/joinColocation/JoinColocationInteractor.java
  core/domain/src/main/java/com/lagrange/usecase/user/joinColocation/JoinColocationService.java
  core/domain/src/test/java/com/lagrange/stub/InMemoryDatabase.java
  core/domain/src/test/java/com/lagrange/stub/InMemoryDatabaseWithUserAlreadyExisting.java
  database/src/main/java/com/lagrange/dao/InMemoryUser.java
  database/src/main/java/com/lagrange/model/UserData.java
  pom.xml
  thymeleaf/.gitignore
  thymeleaf/.mvn/wrapper/maven-wrapper.jar
  thymeleaf/.mvn/wrapper/maven-wrapper.properties
  thymeleaf/mvnw
  thymeleaf/mvnw.cmd
  thymeleaf/pom.xml
  thymeleaf/src/main/java/com/lagrange/thymeleaf/Config.java
  thymeleaf/src/main/java/com/lagrange/thymeleaf/ThymeleafApplication.java
  thymeleaf/src/main/java/com/lagrange/thymeleaf/controller/ColocController.java
  thymeleaf/src/main/java/com/lagrange/thymeleaf/controller/ColocForm.java
  thymeleaf/src/main/java/com/lagrange/thymeleaf/controller/HomeController.java
  thymeleaf/src/main/java/com/lagrange/thymeleaf/controller/UserController.java
  thymeleaf/src/main/java/com/lagrange/thymeleaf/controller/UserForm.java
  thymeleaf/src/main/resources/application.properties
  thymeleaf/src/main/resources/static/style.css
  thymeleaf/src/main/resources/templates/addColoc.html
  thymeleaf/src/main/resources/templates/addUser.html
  thymeleaf/src/main/resources/templates/colocList.html
  thymeleaf/src/main/resources/templates/index.html
  thymeleaf/src/main/resources/templates/userList.html
  thymeleaf/src/test/java/com/lagrange/thymeleaf/ThymeleafApplicationTests.java
Due: none

thymeleaf config
  consoleApp/console-app/pom.xml
  consoleApp/console-app/src/main/java/com/lagrange/ApplicationConsole.java
  consoleApp/manual-config/pom.xml
  consoleApp/manual-config/src/main/java/com/lagrange/Configuration.java
  consoleApp/manual-config/src/main/java/com/lagrange/Main.java
  pom.xml
  thymeleaf/pom.xml
Due: trigger module 1/4, trigger module 2/4
